<div data-role="header">
  <h1>Latest News</h1>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <% @news_items.each do |news_item| %>
    <li>
      <%= link_to news_item.name, news_path(news_item) %>
    </li>
    <% end %>
  </ul>
</div>