<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <header>
    <h1>Campus News</h1>
  </header>

  <% if notice %>
    <div id="notice"><% =notice %></div>
  <% end %>

  <section>
    <%= yield %>
  </section>

  <footer>
    <h4>Copyright &copy; Campus</h4>
  </footer>

  </body>
</html>